<section id="sessao-sobre">
  <div class="sessao-content">
    <h1>Sobre Nós</h1>
    <div class="sessao-minibanner"></div>
    <div class="sessao-descricao">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis consectetur, eligendi itaque consequuntur architecto illo reiciendis? Odio consequuntur enim perspiciatis ipsam vitae assumenda, veniam tempore quam facere vero? Beatae, debitis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odio quia voluptatibus quo eaque quidem itaque quod delectus ducimus aut, pariatur quis sit amet, sunt iste obcaecati voluptates, possimus impedit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, nemo libero. Numquam eos sit et ratione magni quos nostrum adipisci cupiditate beatae neque consectetur voluptatem, aliquam labore at praesentium blanditiis!
      </p>
      <button class="btn-main"> <a href="#" class="sessao-bemvindo-btn">Leia mais</a></button>

    </div>

  </div>
</section>
