<section id="sessao-doce1">
  <h2>Doces1</h2>
  <div class="doces1-imgs banner-galleria" id="img1"></div>
  <div class="doces1-imgs banner-galleria" id="img2"></div>
  <div class="doces1-imgs banner-galleria" id="img3"></div>
  <div class="doces1-imgs banner-galleria" id="img4"></div>
  <div class="doces1-imgs banner-galleria" id="img5"></div>
</section>
<section id="sessao-doce2">
  <h2>Doces2</h2>
  <div class="doces2-imgs banner-galleria" id="img6"></div>
  <div class="doces2-imgs banner-galleria" id="img7"></div>
  <div class="doces2-imgs banner-galleria" id="img8"></div>
</section>
<section id="sessao-doce3">
  <h2>Doces3</h2>
  <div class="doces3-imgs banner-galleria" id="img9"></div>
  <div class="doces3-imgs banner-galleria" id="img10"></div>
  <div class="doces3-imgs banner-galleria" id="img11"></div>
  <div class="doces3-imgs banner-galleria" id="img12"></div>
</section>
